@import 'vars';

.GBNavbar.navbar {
    background-color: white;
    border-bottom: solid 1px #e8e8e8;
    box-shadow: 0 0 30px #f3f1f1;
    display: flex;
    justify-content: center;

    a {
        color: $main-green;
    }
}